body {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
	margin-left: 5%;
	font-size: 14px;
	padding-bottom: 1px;
}

.topbar {
	background-color: #333333;
	overflow: hidden;
	margin-bottom: 1%;
}

.topbar p {
	color: whitesmoke;
	float: left;
	text-align: center;
	padding-top: 10px;
	padding-left: 10%;
	padding-bottom: 10px;
	font-size: 22px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}

.parent {
	display: grid;
	justify-self: center;
	grid-template-columns: 32% 32% 32%;
	grid-template-rows: (2, 1fr);
	grid-column-gap: 2%;
	grid-row-gap: 3%;
	margin: 10px;
}

.box {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	width: 100%;
	min-height: 300px;
	max-height: 600px;
	background-color: white;
	border: 1px;
	border-color: #464646;
	border-style: solid;
	filter: drop-shadow(5px 6px 4px #6e6e6e);
}

.box-inner {
	margin: 10%;
	margin-top: -1%;
	margin-bottom: 30px;
}

.computer-box-inner {
	margin: 1%;
	display: grid;
	position: relative;
	grid-template-columns: 20% 40% 40%;
}

.right-amount {
	font-weight: bold;
	float: right;
}

.button {
	border-radius: 15px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	border-width: 0;
	box-shadow: 0 2px #666;
}

.button:hover {
	filter: drop-shadow(1px 2px 1px #6e6e6e);
}

.block-container {
	height: 10%;
	display: block;
}

#box1 {
	grid-area: 1 / 1 / 2 / 2;
}

#box2 {
	grid-area: 1 / 2 / 2 / 3;
}

#box3 {
	grid-area: 1 / 3 / 2 / 4;
}

#box4 {
	grid-area: 2 / 1 / 3 / 4;
}

#computer-specs {
	margin-right: 2%;
}

#loan-button {
	position: absolute;
	bottom: 5%;
	background-color: #4bf0a1;
	width: 90%;
	height: 15%;
	left: 5%;
}

#loan-button:hover {
	background-color: #40d38c;
}

#loan-button:active {
	background-color: #02ff85;
	box-shadow: 0 3px #666;
	transform: translateY(4px);
}

#bank-button {
	position: absolute;
	bottom: 5%;
	background-color: #edef4d;
	width: 43%;
	height: 15%;
	left: 5%;
}

#bank-button:hover {
	background-color: #cfd13f;
}

#bank-button:active {
	background-color: #f5f840;
	box-shadow: 0 3px #666;
	transform: translateY(4px);
}

#work-button {
	position: absolute;
	bottom: 5%;
	background-color: #4d70f0;
	width: 43%;
	height: 15%;
	right: 5%;
	color: whitesmoke;
}

#work-button:hover {
	background-color: #4162d8;
}

#work-button:active {
	background-color: #416aff;
	box-shadow: 0 3px #666;
	transform: translateY(4px);
}

#repay-button {
	position: absolute;
	bottom: 5%;
	background-color: rgb(226, 120, 48);
	width: 90%;
	height: 15%;
	right: 5%;
	bottom: 23%;
}

#repay-button:hover {
	background-color: rgb(194, 102, 41);
}

#repay-button:active {
	background-color: rgb(255, 102, 0);
	box-shadow: 0 3px #666;
	transform: translateY(4px);
}

#buy-button {
	bottom: 25%;
	position: absolute;
	background-color: #4bc9f1;
	width: 25%;
	height: 15%;
}

#buy-button:hover {
	background-color: #36a9cc;
}

#buy-button:active {
	background-color: #00c3ff;
	box-shadow: 0 3px #666;
	transform: translateY(4px);
}

#computer-select {
	width: 100%;
}

#image-container {
	display: inline-block;
	position: relative;
}

#computer-image {
	max-height: 100%;
	max-width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 1;
	margin: auto;
}

#computer-name {
	position: absolute;
	top: 15%;
	margin-left: 5%;
	width: 30%;
	font-size: min(5vw, 30px);
}

#computer-details {
	position: fixed;
	top: 45%;
	margin-left: 6%;
	width: 30%;
	font-size: min(7vw, 15px);
}

#computer-info {
	display: flex;
	justify-content: center;
}

#computer-purchase {
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: center;
}

#computer-price {
	position: absolute;
	top: 25%;
	font-size: min(7vw, 25px);
}
